<h2>Create a chatroom</h2>

<div class="row">
  <%= form_for(chatroom, class: "form-horizontal", remote: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="form-group">
      <%= f.label :topic, class: "control-label col-md-1 col-sm-1" %>
      <div class="col-md-11 col-sm-11">
        <%= f.text_field :topic, autofocus: true  %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-1 col-md-11 col-sm-offset-1 col-md-11">
        <%= f.submit "Create a chatroom", class: 'btn btn-sm btn-primary' %>
        <%= f.button :reset, type: :reset, class: "btn btn-sm btn-default" %>
      </div>
    </div>
  <% end %>

</div>
