<div class="row">
  <%= form_for(chatroom, html: { class: "form-horizontal" }, remote: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="form-group row">
      <%= f.label :topic, class: "control-label col-md-1 col-md-offset-3" %>
      <div class="col-md-5">
        <%= f.text_field :topic, autofocus: true, placeholder: "New Topic" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-offset-4 col-md-5">
        <%= f.submit "Create chatroom", class: 'btn btn-sm btn-primary' %>
        <%= f.button :Reset, type: :reset, class: "btn btn-sm btn-default" %>
      </div>
    </div>
  <% end %>

</div>
