<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <%= link_to ENV['MY_APP_NAME'], '#', id: "logo", class: 'navbar-brand' %>

      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>


    <nav class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="navbar-text label label-default">
            <span class="glyphicon glyphicon-user"> <%= current_user.username || 'Anonymous' %></span>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle glyphicon" data-toggle="dropdown">
              Links <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <%= link_chatrooms %>
              <!-- < %= link_help %> -->
              <%= link_about %>
              <%= link_home %>
              <%= link_profile %>
            </ul>
          </li>
          <%= link_logout %>
        <% elsif request.original_url == login_url %>
          <%= link_signup %>
        <% elsif request.original_url == signup_url %>
          <%= link_login %>
        <% else %>
          <%= link_signup %>
          <%= link_login %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
